* {
  box-sizing: border-box;
}
.cmportfolio {
  position: fixed;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
header {
  display: flex;
  border: 3px solid orange;
  justify-content: space-between;
}
.logo-title {
  display: flex;
}
.logo {
  width: 120px;
}
header * {
  border: 3px solid red;
}
.hero-banner {
  height: 500px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url(../images/02-hero-image.png);
  background-size: cover;
  background-position: center;
}
.navigation {
  position: absolute;
  list-style-type: none;
}
.banner-text {
  position: absolute;
  top: 25%;
  padding: 20px;
  color: white;
  font-size: x-large;
}
.navlinks {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 400px;
  padding-inline-start: 0px;
}
.navlinks li {
  margin-left: 0px;
  margin-right: 0px;
}
.about {
  padding: 70px;
  padding-bottom: 100px;
  border: solid coral;
}
.work {
  background-color: lightgrey;
  padding: 70px;
  padding-bottom: 20px;
  border: solid coral;
}
.flexbox-container {
  background-color: lightgray;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  border: 3px solid orange;
  height: 800px;
}
.flexbox-item-1 {
  background-image: url(../images/02-portfolio-3.jpg);
  background-size: cover;
  background-position: center;
  flex-wrap: wrap;
  width: 2000px;
  height: 400px;
  margin: 10px;
  border: 3px solid black;
}
.flexbox-item-2,
.flexbox-item-3,
.flexbox-item-4 {
  flex-wrap: wrap;
  flex-grow: 1;
  width: 300px;
  height: 300px;
  margin: 10px;
  border: 3px solid black;
  background-size: cover;
  background-position: center;
}
.car-text {
}
.flexbox-item-2 {
  background-image: url(../images/02-portfolio-2.jpg);
  background-size: cover;
  background-position: center;
}
.flexbox-item-3 {
  background-image: url(../images/02-portfolio-4.jpg);
  background-size: cover;
  background-position: center;
}
.flexbox-item-4 {
  background-image: url(../images/02-portfolio-1.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
}
.flexbox-container2 {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  padding-top: 400px;
}
.contact h2 {
  padding: 10px;
  padding-top: 10px;
  margin: auto;
}
.contact-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.contact-links li {
  list-style: none;
  display: flex;
  
}